<div ng-show="!main.adv_enabled" ng-repeat="photo in photos">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				{{photo.date_time | date : "y/MM/dd, HH:mm:ss" }}
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<section id="{{photo._id}}"></section>
			<div class="insideWrapper">
				<image ng-src="../../images/{{photo.file_name}}" class="coveredImage" width="{{photo.cWidth}}" height="{{photo.cHeight}}" />
				<div style="position: absolute; height: {{photo.cHeight + 'px'}}; width: {{photo.cWidth + 'px'}}" ng-repeat="tag in photo.tags" class="middleCanvas">
					<div
					style="border: 2px solid orange; position: absolute; height: {{tag.h*photo.cHeight + 'px'}}; width: {{tag.w*photo.cWidth + 'px'}}; top: {{tag.y*photo.cHeight + 'px'}}; left: {{tag.x*photo.cWidth + 'px'}}">
					<md-button class="tagText" ng-href="#!/users/{{tag.user_id}}">{{tag.text}}</md-button>
					<md-button class="small-button" ng-click="removeTag(tag, photo)">Remove</md-button>
					</div>
				</div>
				<canvas drawing="photo" class="coveringCanvas" width="{{photo.cWidth}}" height="{{photo.cHeight}}"></canvas>
			</div>
			<div layout="row">
				<md-button class="md-raised md-primary" aria-label="All photos" ng-click="toggleLike(photo)" style="width: 15%">
			        <md-icon md-svg-src="/components/user-photos/ic_thumb_up.svg"></md-icon>
			        {{photo.likes && photo.likes.indexOf(user._id) >=0 ? 'Unlike' : 'Like'}}
			    </md-button>
			    <p style="color: green;">{{photo.likes.length}} {{photo.likes && photo.likes.indexOf(user._id) >=0 ? '*You liked this photo!' : ''}}</p>
			</div>
			<div ng-repeat="comment in photo.comments">
				<div>
				<a class="md-primary md-hue-1 comment-user-link" ng-href="#!/users/{{comment.user._id}}">{{comment.user.first_name}} {{comment.user.last_name}}
				</a>
				<p class="comment-text">: {{comment.comment}}</p> 
				<p>{{comment.date_time | date : "y/MM/dd, HH:mm:ss" }}</p>
				</div>
			</div>
		</md-card-content>
		<md-input-container class="md-block">
		  <form ng-submit="submit(photo._id)">
          	  <label>New Comment</label>
	          <input type="text"
					ng-model="photo.newComment"
					mentio 
					mentio-typed-text="typedTerm"
					mentio-items="people | filter:label:typedTerm"
					mentio-template-url="/people-mentions.tpl"
					mentio-search="searchPeople(term)" 
					mentio-select="getTagTextRaw(item)" />
	          <md-button class="md-accent md-raised" type="submit">Post</md-button>
		  </form>
        </md-input-container>
	</md-card>
</div>

<div ng-show="main.adv_enabled">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				{{adv.photo.date_time}}
			</md-card-header-text>
		</md-card-header>
		<img ng-src="../../images/{{adv.photo.file_name}}">
		<md-card-actions layout="row" layout-align="space-between center">
          <md-button ng-disabled="noPrev" class="md-raised md-accent" ng-href="photo-share.html#!/adv/photos/{{user._id}}/{{adv.prevP}}">Previous</md-button>
          <md-button ng-disabled="noNext" class="md-raised md-accent" ng-href="photo-share.html#!/adv/photos/{{user._id}}/{{adv.nextP}}">Next</md-button>
        </md-card-actions>
		<md-card-content ng-repeat="comment in adv.photo.comments">
			<div>
				<a class="md-primary md-hue-1 comment-user-link" ng-href="#!/adv/users/{{comment.user._id}}">{{comment.user.first_name}} {{comment.user.last_name}}
				</a>
				<p class="comment-text">: {{comment.comment}} {{comment.date_time | date : "y/MM/dd, HH:mm:ss" }}<p>
			</div>
		</md-card-content>
		<md-input-container class="md-block">
		  <form ng-submit="submit(adv.photo._id)">
          	  <label>New Comment</label>
	          <input ng-model="newComment">
	          <md-button class="md-accent md-raised" type="submit">Post</md-button>
		  </form>
        </md-input-container>
	</md-card>
</div>

<script type="text/ng-template" id="/people-mentions.tpl">
	<ul class="user-search">
	    <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
	        <span class="text-primary"
	            ng-bind-html="person.first_name + ' ' + person.last_name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
	    </li>
	</ul>
</script>

