.comment-text{
	display:inline;    
}

.comment-user-link{
	text-decoration: none;
}

.insideWrapper{
	width: 100%;
    position: relative;
}
.coveredImage{
	width: 100%;
    position:relative; top:0px; left:0px;
    
}
.coveringCanvas{  
    position:absolute; top:0px; left:0px;
    
}

.middleCanvas{  
    position:absolute; top:0px; left:0px;
    
    display: inline-block;
}

.tagText{
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}
.small-button {
    min-width: 1%;
    font-size: 8pt;
    color: orange;
    top: 100%;
    position: absolute;
    z-index: 100;
}

.user-search {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
    color: white;
    background-color: orange;
    border-color: orange;
    list-style-type:none;
    width: 200px;
}

.user-search .list-group-item {
    padding: 5px;
}

.user-search:hover {
    cursor: pointer;
}

.fake-input {
    width: 100%;
    height: 50px;
}

mentio-menu{
    display: block;
}